.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}


html { 
	overflow: hidden; 
	position: fixed;
}

.rating {
  unicode-bidi: bidi-override;
  /*direction: rtl;*/
}
.rating > span {
  display: inline-block;*/
  float:left;
  /*position: relative;*/
  /*width: 15%;*/
  font-size: 150%;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}